<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
</head>
<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/commons::header}"></header>

<main class="flex-shrink-0">
    <section class="add-recipe-section">
        <div class="container">
            <div class="card shadow-lg mx-auto p-4" style="max-width: 600px;">
                <div class="text-center mb-4">
                    <h3 class="fw-bold">Add a New Recipe</h3>
                    <p class="text-muted">Share your delicious creations with the world!</p>
                </div>
                <form th:method="POST"
                      th:action="@{/recipes/add}"
                      th:object="${addRecipe}"
                      enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Recipe Title</label>
                        <input th:field="*{title}" th:errorclass="is-invalid" type="text" class="form-control"
                               id="title"
                               name="title"
                               placeholder="Enter recipe title" required minlength="3" maxlength="30">

                        <small th:if="${#fields.hasErrors('title')}" th:errors="*{title}" id="titleError" class="bg-danger rounded text-white"></small>
                    </div>
                    <div class="mb-3">
                        <label for="categories" class="form-label">Categories</label>
                        <select th:field="*{categories}" th:errorclass="is-invalid" id="categories" name="categories"
                                class="form-select"
                                multiple required>
                            <option th:each="category : ${categories}" th:value="${category}" th:text="${category.value}"
                                    th:attr="selected=${#lists.contains(categories, category)}">
                                Choose a category
                            </option>
                        </select>

                        <small th:errors="*{categories}" id="categoriesError"
                               class="bg-danger rounded text-white"></small>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea th:field="*{description}" th:errorclass="is-invalid" id="description"
                                  name="description"
                                  class="form-control" rows="4"
                                  placeholder="Enter a brief description" required minlength="10" maxlength="1500"></textarea>

                        <small th:errors="*{description}" id="descriptionError"
                               class="bg-danger rounded text-white"></small>
                    </div>
                    <div class="mb-3">
                        <label for="ingredients" class="form-label">Ingredients</label>
                        <textarea th:field="*{ingredients}" th:errorclass="is-invalid" id="ingredients"
                                  name="ingredients"
                                  class="form-control" rows="4"
                                  placeholder="List ingredients separated by commas" required minlength="10" maxlength="1500"></textarea>

                        <small th:errors="*{ingredients}" id="ingredientsError"
                               class="bg-danger rounded text-white"></small>
                    </div>
                    <div class="mb-3">
                        <label for="instructions" class="form-label">Instructions</label>
                        <textarea th:field="*{instructions}" th:errorclass="is-invalid" id="instructions"
                                  name="instructions"
                                  class="form-control" rows="4"
                                  placeholder="Write the steps to prepare the recipe" required minlength="10" maxlength="1500"></textarea>

                        <small th:errors="*{instructions}" id="instructionsError"
                               class="bg-danger rounded text-white"></small>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Recipe Image</label>
                        <input th:field="*{image}" th:errorclass="is-invalid" type="file" class="form-control"
                               id="image" name="image" onchange="validateFileSize()" required>

                        <small th:errors="*{image}" id="imageError"
                               class="bg-danger rounded text-white"></small>
                    </div>
                    <div class="form-row d-flex gap-2">
                        <div class="col">
                            <label for="cookTime" class="form-label">Cook Time</label>
                            <input th:field="*{cookTime}" th:errorclass="is-invalid" type="number" class="form-control"
                                   id="cookTime"
                                   name="cookTime" required min="1">

                            <small th:errors="*{cookTime}" id="cookTimeError"
                                   class="bg-danger rounded text-white"></small>
                        </div>
                        <div class="col">
                            <label for="prepTime" class="form-label">Prep Time</label>
                            <input th:field="*{prepTime}" type="number" class="form-control" id="prepTime"
                                   name="prepTime">
                        </div>
                        <div class="col">
                            <label for="servings" class="form-label">Servings</label>
                            <input th:field="*{servings}" th:errorclass="is-invalid" type="number" class="form-control"
                                   id="servings"
                                   name="servings" required min="1">
                            <small th:errors="*{servings}" id="servingsError"
                                   class="bg-danger rounded text-white"></small>

                        </div>
                    </div>
                    <button type="submit" class="btn-submit btn btn-primary w-100">Submit Recipe</button>
                </form>
            </div>
        </div>
    </section>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>

<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
<script>
    const originalSelect = document.getElementById('categories');

    const multiSelect = new Choices(originalSelect, {
        removeItemButton: true,
        placeholderValue: 'Select categories',
        searchPlaceholderValue: 'Search categories',
    });

    if (originalSelect.classList.contains('is-invalid')) {
        const choicesContainer = originalSelect.closest('.choices');
        if (choicesContainer) {
            choicesContainer.classList.add('is-invalid');
        }
    }
</script>

<script th:src="@{/js/recipes.js}"></script>
</body>
</html>