<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <title>Admin User Management</title>
</head>
<body>
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg p-4 w-100" style="max-width: 900px;">
        <h2 class="text-center mb-4">User Management</h2>
        <div th:if="${message}" class="alert alert-success alert-dismissible fade show w-50 mx-auto"
             role="alert">
            <p th:text="${message}" class="m-0"></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div th:unless="${#lists.isEmpty(users)}" class="table-responsive">
            <table class="table table-bordered table-hover table-striped text-center align-middle">
                <thead class="table-dark">
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Profile Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="userTableBody">
                <tr th:each="user : ${users}">
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:classappend="${user.active} ? 'active-profile' : 'inactive-profile'"
                        th:text="${user.active ? 'Active' : 'Inactive'}" class="status">
                    </td>
                    <td>
                        <div class="d-flex gap-2">
                            <form th:action="@{'/admin/users/change-role/' + ${user.id}}" th:method="PUT">
                                <button type="submit" class="btn btn-warning btn-sm update-role">Change Role</button>
                            </form>
                            <form th:action="@{'/admin/users/change-status/' + ${user.id}}" th:method="PUT">
                                <button type="submit" class="btn btn-info btn-sm change-status">Change Status</button>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${#lists.isEmpty(users)}" class="text-center mt-4">
            <h4>No users yet.</h4>
        </div>
        <a th:href="@{/home}" class="btn btn-primary w-25 align-self-center">Go to Home</a>
    </div>
</div>
</body>
</html>