<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Recipes</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg p-4 w-100" style="max-width: 900px;">
        <h2 class="text-center mb-4">Recipe Management</h2>

        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped text-center align-middle">
                <thead class="table-dark">
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Created Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="recipeTableBody">
                </tbody>
            </table>
        </div>
        <a th:href="@{/home}" class="btn btn-primary w-25 align-self-center">Go to Home</a>
    </div>
</div>

<script src="/js/admin-recipe-management.js" defer></script>
</body>
</html>