<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <title>Admin Comment Management</title>
</head>
<body>
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-lg p-4 w-100" style="max-width: 900px;">
        <h2 class="text-center mb-4">Comment Management</h2>
        <div th:if="${message}" class="alert alert-success alert-dismissible fade show w-50 mx-auto"
             role="alert">
            <p th:text="${message}" class="m-0"></p>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div th:unless="${#lists.isEmpty(comments)}" class="table-responsive">
            <table id="commentsTable" class="table table-bordered table-hover table-striped text-center align-middle">
                <thead class="table-dark">
                <tr>
                    <th>Author</th>
                    <th>Comment</th>
                    <th>Date</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="commentTableBody">
                <tr th:each="comment : ${comments}">
                    <td th:text="${comment.author}"></td>
                    <td th:text="${comment.content}"></td>
                    <td th:text="${comment.createdDate}"></td>
                    <td>
                        <form th:action="@{'/admin/comments/' + ${comment.id}}" th:method="DELETE">
                            <button class="btn btn-danger btn-sm delete-comment">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${#lists.isEmpty(comments)}" class="text-center mt-4">
            <h4>No comments yet.</h4>
        </div>
        <a th:href="@{/home}" class="btn btn-primary w-25 align-self-center">Go to Home</a>
    </div>
</div>

</body>
</html>