<!DOCTYPE html>
<html class="h-100" lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/commons::header}"></header>
<main class="flex-shrink-0">
    <section class="home-section flex-column">
        <div class="home container-fluid text-center text-white py-5">
            <h1 class="display-4 fw-bold mb-3">Welcome to InstaRecipe</h1>
            <p class="lead mb-4">Discover, share, and connect with food lovers around the world.</p>
            <div class="d-flex justify-content-center mt-4">
                <a th:href="@{/recipes/all}" class="btn btn-lg btn-light px-5 py-3 shadow text-capitalize">See all
                    recipes</a>
            </div>
        </div>

        <div class="container my-5">
            <h2 class="text-center mb-4">Explore Categories</h2>
            <div class="row row-gap-5">
                <div th:each="category : ${categories}" class="col-md-4 d-flex">
                    <div class="card w-100 h-100">
                        <img th:src="${category.imageUrl}" class="card-img-top img-fluid fixed-image"
                             alt="Category Image">
                        <div class="card-body d-flex flex-column text-center">
                            <h5 th:text="${category.name.value}" class="card-title">Vegan</h5>
                            <a th:href="@{'/categories/' +  ${category.id}}"
                               class="btn btn-outline-primary view-recipe-btn mt-3">View Recipes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>