<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/commons::head}">
    <title>Oops! Page Not Found</title>
</head>
<body style="display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f9fa;">
<div class="error-container">
    <div class="error-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="red" stroke-width="2"
             stroke-linecap="round" stroke-linejoin="round" style="width: 80px; height: 80px;">
            <path d="M12 20h.01"></path>
            <path d="M12 16c0-3 4-3 4-6s-2-5-4-5-4 2-4 3"></path>
        </svg>
    </div>
    <h2>Oops! We couldn't find that.</h2>
    <p style="font-size: 18px;margin-top: 10px;color: #343a40;">The page you are looking for isn't available right now.
        If you believe this is an issue, please contact support.</p>
    <p class="error-code" style="font-size: 24px;font-weight: bold;color: #6c757d;">Error Code: 404 - Not Found</p>
    <a href="/home" class="btn btn-primary back-button" style="margin-top: 20px;">Go Back Home</a>
</div>
</body>
</html>
