<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <title>My Profile</title>
</head>
<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/commons::header}"></header>

<main class="flex-shrink-0">
    <section class="profile-section">
        <div class="container" th:object="${userProfileInfo}">
            <div class="card shadow-lg mx-auto p-4" style="max-width: 600px;">
                <div class="text-center mb-4">
                    <h3 class="fw-bold">My Profile</h3>
                    <p class="text-muted">Manage your personal information and preferences.</p>
                </div>

                <div class="mt-2 align-self-center">
                    <img th:src="*{profilePictureUrl}"
                         alt="Profile Picture" class="rounded-circle"
                         style="width: 130px; height: 130px; object-fit: cover;">
                </div>
                <div class="container">
                    <div class="m-xl-4">
                        <label for="username" class="form-label fw-bold text-dark">Username</label>
                        <div id="username"
                             class="form-control bg-light d-flex justify-content-between align-items-center mb-0">
                            <span th:text="*{username}">john_doe</span>
                            <a th:href="@{/my-profile/change/username/{id}(id=${userProfileInfo.id})}"
                               class="btn-change btn btn-sm btn-outline-primary ms-3">Change</a>
                        </div>
                    </div>

                    <div class="m-xl-4">
                        <label for="email" class="form-label fw-bold text-dark">Email</label>
                        <div id="email"
                             class="form-control bg-light d-flex justify-content-between align-items-center mb-0">
                            <span th:text="*{email}">john@example.com</span>
                            <a th:href="@{/my-profile/change/email/{id}(id=${userProfileInfo.id})}"
                               class="btn-change btn btn-sm btn-outline-primary ms-3">Change</a>
                        </div>
                    </div>
                    <div class="m-xl-4">
                        <label for="password" class="form-label fw-bold text-dark">Password</label>
                        <div id="password"
                             class="form-control bg-light d-flex justify-content-between align-items-center mb-0">
                            <span>********</span>
                            <a th:href="@{/my-profile/change/password/{id}(id=${userProfileInfo.id})}"
                               class="btn-change btn btn-sm btn-outline-primary ms-3">Change</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
