<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}">
    <title>My Profile</title>
</head>
<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/commons::header}"></header>

<main class="flex-shrink-0">
    <section class="profile-section">
        <div class="container" th:object="${userProfileInfo}">
            <div class="card shadow-lg mx-auto p-4" style="max-width: 600px;">
                <div class="text-center mb-4">
                    <h3 class="fw-bold">My Profile</h3>
                    <p class="text-muted">Manage your personal information and preferences.</p>
                    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
                </div>

                <div class="mt-2 align-self-center position-relative">
                    <img th:src="@{*{profilePictureUrl} + '?t=' + ${#dates.format(#dates.createNow(), 'yyyyMMddHHmmss')}}"
                         alt="Profile Picture"
                         class="rounded-circle border border-secondary"
                         style="width: 130px; height: 130px; object-fit: cover;">
                    <button class="btn btn-primary btn-sm position-absolute bottom-0 end-0"
                            data-bs-toggle="modal"
                            data-bs-target="#changePictureModal">
                        Change Picture
                    </button>
                </div>
                <div class="container">
                    <div class="m-xl-4">
                        <label for="username" class="form-label fw-bold text-dark">Username</label>
                        <div id="username"
                             class="form-control bg-light d-flex justify-content-between align-items-center mb-0">
                            <span th:text="${userProfileInfo.username}">john_doe</span>
                            <button type="button" class="btn btn-sm btn-outline-primary ms-3" data-bs-toggle="modal"
                                    data-bs-target="#changeUsernameModal">
                                Change
                            </button>
                        </div>
                    </div>

                    <div class="m-xl-4">
                        <label for="email" class="form-label fw-bold text-dark">Email</label>
                        <div id="email"
                             class="form-control bg-light d-flex justify-content-between align-items-center mb-0">
                            <span th:text="*{email}">john@example.com</span>
                            <button type="button" class="btn btn-sm btn-outline-primary ms-3" data-bs-toggle="modal"
                                    data-bs-target="#changeEmailModal">
                                Change
                            </button>
                        </div>
                    </div>
                    <div class="m-xl-4">
                        <label for="password" class="form-label fw-bold text-dark">Password</label>
                        <div id="password"
                             class="form-control bg-light d-flex justify-content-between align-items-center mb-0">
                            <span>********</span>
                            <button type="button" class="btn btn-sm btn-outline-primary ms-3" data-bs-toggle="modal"
                                    data-bs-target="#changePasswordModal">
                                Change
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

<!-- profile picture modal -->
<div class="modal fade" id="changePictureModal" tabindex="-1" aria-labelledby="changePictureModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePictureModalLabel">Change Profile Picture</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form
                        th:method="PUT"
                        th:action="@{/my-profile/{id}/change-picture(id=${userProfileInfo.id})}"
                        enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="profilePicture" class="form-label">Upload New Picture</label>
                        <input type="file" class="form-control" id="profilePicture" onchange="validateFileSize()"
                               name="profilePicture" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>

                <small th:each="error : ${errors}" th:text="${error}"
                       id="profilePictureError"
                       class="bg-danger rounded text-white"></small>
            </div>
        </div>
    </div>
</div>
<!-- username modal -->
<div class="modal fade" id="changeUsernameModal" tabindex="-1" aria-labelledby="changeUsernameModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeUsernameModalLabel">Change Username</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:method="PUT" th:action="@{/my-profile/{id}/change-username(id=${userProfileInfo.id})}">
                    <div class="mb-3">
                        <label for="newUsername" class="form-label">New Username</label>
                        <input type="text" class="form-control" id="newUsername" name="username"
                               placeholder="Enter new username" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>

                <small th:each="error : ${errors}" th:text="${error}"
                       id="UsernameError"
                       class="bg-danger rounded text-white"></small>
            </div>
        </div>
    </div>
</div>
<!-- email modal -->
<div class="modal fade" id="changeEmailModal" tabindex="-1" aria-labelledby="changeEmailModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeEmailModalLabel">Change Email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:method="PUT" th:action="@{/my-profile/{id}/change-email(id=${userProfileInfo.id})}">
                    <div class="mb-3">
                        <label for="newEmail" class="form-label">New Email</label>
                        <input type="text" class="form-control" id="newEmail" name="email"
                               placeholder="Enter new email" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>

                <small th:each="error : ${errors}" th:text="${error}"
                       id="emailError"
                       class="bg-danger rounded text-white"></small>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="changePasswordModal" tabindex="-1" aria-labelledby="changePasswordModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalLabel">Change Email</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:method="PUT" th:action="@{/my-profile/{id}/change-password(id=${userProfileInfo.id})}">
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">New Email</label>
                        <input type="text" class="form-control" id="newPassword" name="password"
                               placeholder="Enter new password" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>

                <small th:each="error : ${errors}" th:text="${error}"
                       id="passwordError"
                       class="bg-danger rounded text-white"></small>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/commons::footer}"></footer>

<script th:if="${openPictureModal}">
    document.addEventListener("DOMContentLoaded", function () {
        const modal = new bootstrap.Modal(document.getElementById('changePictureModal'));
        modal.show();
    });
</script>
<script th:if="${openUsernameModal}">
    document.addEventListener("DOMContentLoaded", function () {
        const modal = new bootstrap.Modal(document.getElementById('changeUsernameModal'));
        modal.show();
    });
</script>
<script th:if="${changeEmailModal}">
    document.addEventListener("DOMContentLoaded", function () {
        const modal = new bootstrap.Modal(document.getElementById('changeEmailModal'));
        modal.show();
    });
</script>
<script th:if="${changePasswordModal}">
    document.addEventListener("DOMContentLoaded", function () {
        const modal = new bootstrap.Modal(document.getElementById('changePasswordModal'));
        modal.show();
    });
</script>

<script>
    function validateFileSize() {
        const file = document.getElementById("profilePicture").files[0];
        if (file && file.size > 3 * 1024 * 1024) {
            alert("File size must not exceed 3MB.");
            document.getElementById("profilePicture").value = "";
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
