<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/commons::head}"></head>
<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/commons::header}"></header>

<main class=" flex-shrink-0">
    <section class="recipes">
        <div class="container my-5">
            <h1 class="text-center mb-4">Recipes</h1>
            <form th:method="GET" th:action="@{/recipes/all}" class="mb-5 d-flex justify-content-center">
                <div class="input-group" style="max-width: 500px;">
                    <input type="text" name="query" class="form-control rounded-start" placeholder="Search recipes..."
                           aria-label="Search recipes" th:value="${query}">
                    <button class="btn-recipes btn btn-primary rounded-end" type="submit">
                        Search
                    </button>
                </div>
            </form>

            <div class="row g-4">
                <div th:each="recipe : ${recipes}" class="col-md-4 d-flex align-items-stretch">
                    <div class="card shadow border-0 w-100">
                        <div class="card-img-top-container" style="height: 200px; overflow: hidden;">
                            <img th:src="${recipe.image}" class="card-img-top" alt="Recipe Image"
                                 style="object-fit: cover; width: 100%; height: 100%;">
                        </div>
                        <div class="card-body text-center d-flex flex-column">
                            <h5 th:text="*{recipe.title}" class="card-title">Chocolate Lava Cake</h5>
                            <div class="d-flex justify-content-center mb-2">
                                <div class="me-3">
                                    <i class="bi bi-clock custom-icon me-1"></i> <span
                                        th:text="${recipe.cookTime}">20</span> mins
                                </div>
                                <div>
                                    <i class="bi bi-person-fill custom-icon me-1"></i> <span
                                        th:text="${recipe.servings}">4-6</span> servings
                                </div>
                            </div>
                            <p th:text="${recipe.description.length() > 70 ? #strings.substring(recipe.description, 0, 70) + '...' : recipe.description}"
                               class="card-text flex-grow-1">Rich and indulgent with a gooey center.</p>
                            <div class="mt-auto">
                                <a th:href="@{/recipes/{id}(id=${recipe.id})}" class="btn-recipes btn btn-primary">View
                                    Recipe</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <nav aria-label="Page navigation" class="mt-4 text-center">
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${recipes.first} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/recipes/all(page=${recipes.number - 1}, size=${recipes.size})}">Previous</a>
                    </li>
                    <li class="page-item" th:each="i : ${#numbers.sequence(0, recipes.totalPages - 1)}"
                        th:classappend="${i == recipes.number} ? 'active'">
                        <a class="page-link" th:href="@{/recipes/all(page=${i}, size=${recipes.size})}"
                           th:text="${i + 1}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${recipes.last} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/recipes/all(page=${recipes.number + 1}, size=${recipes.size})}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>

</main>

<footer th:replace="~{fragments/commons::footer}"></footer>
</body>
</html>
